.container{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input{
    margin: 24px 0;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form button{
    border: .5px solid cornflowerblue;
    background: white;
    color:cornflowerblue;
    padding:10px 20px;
    width:100%;
    outline: none;
}