.container{
    display: flex;
    align-items: center;
    background-color: black;
    color:white;
    height: 64px;
}

.icon{
    font-size: 2rem;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.container h2{
    margin-left: 50px;
    color:white;
}

.container p{
    margin-left: 150px;
    justify-content: center;
}

.container select{
    color:white;
    font-size: large;
    margin-left: 50px;
    outline-color: white;
}

.container select::after{
    content: ">";
    color:white;
}

.navButton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 5px 8px #ccc;
    padding:10px 0;
    cursor: pointer;
    margin:20px 0;
    transition:all .3s ease;
}

.navButton:active{
    box-shadow: 1px 6px 9px grey;
}

.footerButton{
    display: flex;
    flex-direction: column;
    bottom:0;
    position: absolute;
    min-width: 208px;
}

