.container{
    display: flex;
    align-items: center;
    background-color: #3a90df;
    color:white;
    height: 64px;
}

.icon{
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.container h2{
    margin: 0px;
    margin-left: 50px;
    color:white;
}

.container p{
    margin-left: 150px;
    justify-content: center;

}

.container select{
    color:white;
    font-size: large;
    margin-left: 50px;
    outline-color: white;
}

.container select::after{
    content: ">";
    color:white;
}

.navButton{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding:10px 0;
    cursor: pointer;
    margin:20px 0;
    transition:all .3s ease;
}
.navButton p{
    margin: 0px;
}

.navButton:hover{
    color: #3a90df;
}

.navButton:active{
    color: #3a90df;
}

.footerButton{
    display: flex;
    flex-direction: column;
    bottom:0;
    position: absolute;
    min-width: 208px;
}

